* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #f0eef1;
}

header {
    text-align: center;
    padding: 1rem;
    background-color: white;
    font-size: x-large;
}

.main {
    position : relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0eef1;
}

.main > button {
    margin: 1rem;
    padding: 0.5rem 2rem;
    font-size: large;
    font-weight: bold;
    border-radius: 1rem;
    border: 0.01rem solid grey;
    background-color: rgb(255, 248, 248);
}

.cardRead {
    margin-top: 1rem;
    margin-bottom: 0.2rem;
}

.main > button:hover {
    background-color: #ddd;
    cursor: pointer;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 350px));
    gap: 2rem;
}

.bookCard {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.bookCard > button {
    align-self: stretch;
    border: none;
    border-radius: 8px;
    padding: 0.3rem;
}

.bookCard > #remove:hover {
    background-color: #ddd;
    cursor: pointer;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    gap: 0.4rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 250px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    z-index: 3;
}

.modal input, form > button {
    padding: 0.7rem 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9em;
    align-self: stretch;
}

.modal input:required {
    background-color: #fccece;
}

.modal input:valid {
    background-color: white;
}

.btn-light-green {
    background-color: #9fff9c;
}

.btn-light-green:hover {
    background-color: #79ff74;
    cursor: pointer;
}

.btn-red {
    background-color: #ff9c9c;
}

.btn-red:hover {
    background-color: #ff8282;
    cursor: pointer;
}

.add-book-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.9rem;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.hidden {
    display: none;
}
  